  </main>
</body>
<% if (user) { %>
<div class="bottom-navbar">
  <a href="/home">
      <div class="nav-icon"><img src="./images/icons/IconHome.png" alt="Home"></div>
  </a>
  <a href="/okrs">
    <div class="nav-icon"><img src="./images/icons/IconOkr.png" alt="OKRs"></div>
  </a>
  <a href="/okrs/new">
    <div class="nav-icon"><img src="./images/icons/IconAddOkr.png" alt="Add OKR"></div>
  </a>
  <a href="/notes">
    <div class="nav-icon"><img src="./images/icons/IconNote.png" alt="Notes"></div>
  </a>
  <a href="/note/new">
    <div class="nav-icon"><img src="./images/icons/IconAddNote.png" alt="Notes"></div>
  </a>
  <% } else { %>
    <a href="/auth/google">LOG IN</a>
  <% } %>
</div>
</html>