<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&family=Poppins:wght@100;300;600&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<% if (user) { %>
  <body>
    <nav>
      <img src="/images/logos/LogoWhite.png" id="navLogo">
      <h1><%= title %></h1>
      <a href="/logout" id="logoutLogo">LOG OUT</a>
    </nav>  
  <main>  
<% } else { %>
  <body class="logged-out">
    <div>
      <nav class="navLogOut">
        <a href="/auth/google" class="login-button-spot"><img src="./images/icons/LoginOauth.png" id="loginLogo"></a>
      </nav>
    </div>
  <main class="logged-out">
<% } %>
