* {
    box-sizing: border-box;
    font-family: Helvetica;
    color:#2a187d;
}

.red-font {
  color: #7D2A18;
}

.purple-background {
  background-color: #2a187d;
}

.white-font {
  color: #ffffff;
}

.bold {
  font-weight: bold;
}

.logged-out {
  background-color: #2a187d;
  color: #ffffff;
}

main.logged-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logged-in {
  background-color: #ffffff;
  color: #2a187d;
}

main.logged-in {
  padding-bottom: 70px;
}

#landingLogo {
  width: 75%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#navLogo {
  width: 50px;
  object-fit: contain;
}

#logoutLogo {
  padding-right: 30px;
}

.padding-right {
  padding-right: 30px;
}

.login-button-spot {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav > h1 {
  justify-content: flex-start;
  margin-right: auto;
}

nav > a {
  order: 3;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff
}

nav > a:hover:not(.active) {
  color: #2A187D;
  background-color: #C9C3DF;
}

nav > a.active {
  color: #ffffff;
  cursor: default;
}

#loginLogo {
  width: 25%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #2a187d;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.nav-icon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query for iPhone screens */
@media (max-width: 375px) {
    .nav-icon {
        width: 5px;
        height: 5px;
    }
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
    "footer"
}

nav {
  grid-area: nav;
  background-color: #2a187d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

main {
  background-color: #ffffff;
  display: grid;
}

.center-spacing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-landing-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addOkrIcon,
.addNoteIcon {
  width: 80%;
}

.homeLinks {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-okr-form,
#new-note-form {
  display: flex;
  flex-direction: column;
  color: #2A187D;
}

#new-okr-form *,
#new-note-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

.note-index {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.note-date {
  padding-right: 30px;
  font-weight: bold;
}

.xlarge-text-size {
  font-size: x-large;
}

.large-text-size {
  font-size: large;
}

#note-log-date {
  padding-top: 30px;
}

.above-padding {
  padding-top: 30px;
}

#bottom-padding {
  margin-bottom: 30px;
}

.row-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2a187d;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  color: #2A187D;
  background-color: #C9C3DF;
}

.delete-button-link {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #2a187d;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.delete-button-link:hover {
  color: #ffffff;
  background-color: red;
}

.align-left {
  text-align: left;
  padding-left: 20px;
}

.margin-above {
  margin-top: 70px;
}

.justify-content {
  text-align: justify;
}

.extra-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.detail-button-placement {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}