* {
    box-sizing: border-box;
    font-family: Helvetica;
    color:#2a187d;
}

.red-font {
  color: #7D2A18;
}

.purple-background {
  background-color: #2a187d;
}

.white-font {
  color: #ffffff;
}

.bold {
  font-weight: bold;
}

.logged-out {
  background-color: #2a187d;
  color: #ffffff;
}

main.logged-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.logged-in {
  background-color: #ffffff;
  color: #2a187d;
}

#landingLogo {
  width: 30%;
}

/* top navigation css */
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#navLogo {
  order: 1;
  width: 50px;
  object-fit: contain;
  /* margin-right: auto; */
}

#logoutLogo {
  padding-right: 30px;
}

.login-button-spot {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav > h1 {
  order: 2;
  justify-content: flex-start;
  margin-right: auto;
}

nav > a {
  order: 3;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff
}

nav > a:hover:not(.active) {
  color: #2A187D;
  background-color: #C9C3DF;
}

nav > a.active {
  color: #ffffff;
  cursor: default;
}

#loginLogo {
  width: 25%;
}

/* bottom navigation bar css */
.bottom-navbar {
  /* grid-area: nav; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #2a187d;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* padding: 20px; */
  padding-top: 5%;
}

.nav-icon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query for iPhone screens */
@media (max-width: 375px) {
    .nav-icon {
        width: 5px; /* Set a smaller icon width for iPhone screens */
        height: 5px; /* Set a smaller icon height for iPhone screens */
    }
}

.button-link {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding to your preference */
  background-color: #2a187d; /* Set the background color of the button */
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px; /* Optional: Add rounded corners */
  cursor: pointer;
  font-size: 16px; /* Set the font size of the button text */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.button-link:hover {
  color: #2A187D;
  background-color: #C9C3DF;
}

main {
  background-color: #ffffff;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #2a187d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

main {
  display: grid;
  /* grid-area: main;
  flex-direction: column;
  align-items: center;
  /* background-color: #ffffff; */
  padding: 20px;
  overflow-y: scroll; */
} */

.center-spacing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-icons {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.addOkrIcon,
.addNoteIcon {
  width: 50%;
}

.homeLinks {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-okr-form,
#new-note-form {
  display: flex;
  flex-direction: column;
  color: #2A187D;
}

#new-okr-form *,
#new-note-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-performer-form,
#update-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#note-note-form input[type="submit"],
#add-performer-form input[type="submit"]  {
  width: 10rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}
  
#show-page li {
  font-weight: bold;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}