<%- include('../partials/header') %>
<div class="note-index extra-info-box">
    <h1 class="center-spacing">Best Practices</h1>

    <p class="justify-content large-text-size">Each OKR time period lasts 3 months and consists of 3 Objectives. This gives you quarterly chunks to focus on your Mind (Objective 1), Body (Objective 2), & Soul (Objective 3). Try to pick objectives that keep you balanced and well-rounded for longevity.</p>
    <p class="justify-content large-text-size">OKR statements should be kept within a sentence or two to maintain clarity and avoid ambiguity. While there isn't a fixed character limit, it's important to prioritize clarity and simplicity. Keep in mind, you're limited to a 140 character "tweet-sized" limit.</p>
    <p class="justify-content large-text-size">The goal is to set large challenging objectives, like a <a class="purple-font" href="https://asana.com/resources/bhag-big-hairy-audacious-goal" target="_blank">Big Hairy Audacious Goal (BHAG)</a>. This means it isn't easy to achieve, and you give yourself a challenge to work towards. <i>i.e. Goal is 5 and you achieve 3 vs. Goal is 100 and you achieve 50... 50 items accomplished is greater than only 3 items</i></p>
</div>


<%- include('../partials/footer') %>