<%- include('./partials/header') %>

<% if (!user) { %>
	<p>Please login to continue...</p>
<% } else { %>
    <div class="homeIcons">
        <a href="/okrs/new">
            <div class="addOkrIcon"><img src="./images/icons/IconAddOkr.png" alt="Add OKR"></div>
        </a>
        <a href="/notes/new">
            <div class="addNoteIcon"><img src="./images/icons/IconAddNote.png" alt="Add OKR"></div>
        </a>
    </div>
    <div class="homeLinks">   
        <a href="/whatareokrs">What are OKRs?</a>
        <a href="/bestpractices">OKR Best Practices</a>
    </div>
<% } %>

<%- include('./partials/footer') %>