<%- include('../partials/header') %>

<% if (!user) { %>
    <div class="center-landing-logo">
        <img src="/images/logos/LogoWhite.png" id="landingLogo">
    </div>
    <div class="center-spacing">
        <h1 class="white-font">GOAL-KR</h1>
    </div>
    <div class="center-spacing">
        <h2 class="white-font">Hit your target. Achieve Success.</h2>
    </div>
    <div class="center-spacing">
        <p class="white-font">Log-in with your Google account to continue.</p>
    </div>
<% } else { %>
    <div class="home-icons center-spacing">
        <a href="/okrs/new" class="home-icons center-spacing">
            <img src="./images/icons/IconHomeAddOKRPlaceholder.png" alt="Add OKR" class="addOkrIcon">
        </a>
        <a href="/notes/new" class="home-icons center-spacing">
            <img src="./images/icons/IconHomeAddNotePlaceholder.png" alt="Add OKR" class="addNoteIcon">
        </a>
    </div>
    <div class="center-spacing">   
        <a href="/whatareokrs" class="homeLinks button-link">What are OKRs?</a>
    </div>
    <div class="center-spacing"> 
        <a href="/bestpractices" class="homeLinks button-link">OKR Best Practices</a>
    </div>
<% } %>

<%- include('../partials/footer') %>