<%- include('../partials/header') %>

<div class="note-index extra-info-box">
    <h1 class="center-spacing">What are OKRs?</h1>

<p class="justify-content large-text-size"> Short for objectives and key results, they are a proven goal-setting tool that holds you accountable, tracks your progress, and helps you achieve milestones that might seem "just out of reach". OKRs are the secret weapon consulting firms deploy at large organizations. Do the same with your life.</p>

    <h2>How do they work?</h2>
    <ul class="bold-first-word justify-content">
        <li class="large-text-size"><span class="bold">Accountability</span>: Write it down, regularly check-in (atleast once a month), and grade your results to pivot when necessary</li>
        <li class="large-text-size"><span class="bold">Laser Focus</span>: Hone in on what truly matters to you (and future you)</li>
        <li class="large-text-size"><span class="bold">Motivation</span>: Experience the thrill of accomplishment, one milestone at a time</li>
    </ul>

<p class="justify-content large-text-size">Set challenging objectives with measurable key results. Align these with a long-term strategy to create your personal roadmap to success. Bring the power of OKRs to your life, and empower your future.</p>    

</div>
<%- include('../partials/footer') %>