<%- include('../partials/header') %>

<% if (!user) { %>
	<p>please login to continue</p>
<% } else { %>
    <div>
        <h2>What are OKRs?</h2>
        <p> Short for objectives and key results, they are a proven goal-setting tool that holds you accountable, tracks your progress, and helps you achieve milestones that might seem "just out of reach". OKRs are the secret weapon consulting firms deploy at large organizations. Do the same with your life.</p>
        <p> How do they work?
            <ul class="bold-first-word">
                <li><span>Accountability</span>: Write it down, regularly check-in (atleast once a month), and grade your results to pivot when necessary</li>
                <li><span></span>Laser Focus</span>: Hone in on what truly matters to you (and future you)</li>
                <li><span></span>Motivation</span>: Experience the thrill of accomplishment, one milestone at a time</li>
            </ul>
        </p>
        <p>Set challenging objectives with measurable key results. Align these with a long-term strategy to create your personal roadmap to success. Bring the power of OKRs to your life, and empower your future.</p>    
    </div>
<% } %>

<%- include('../partials/footer') %>