<%- include('../partials/header') %>

<form id="new-note-form" action="/notes" method="POST">
	<label>New Note:</label>
	<input type="text" name="noteText" placeholder="Write your note here">
	<label>Log Date:</label>
	<input class="red-font" type="date" name="logDate">
	<input name="okrId" type="hidden" value=<%= okrId %>>
	<input class="button-link" type="submit" value="Add Note">
</form>

<%- include('../partials/footerDeep') %>