<%- include('../partials/header') %>

<form id="new-note-form" action="/notes" method="POST">
	<label>New Note:</label>
	<input type="text" name="noteText" placeholder="Write your note here">
	<label>Choose Quarter and Year:</label>
	<select class="red-font" name="QuarterYearChoice">
		<option value="Choose" selected>Make a choice</option>
		<option value="Q423">Q4 2023</option>
		<option value="Q124">Q1 2024</option>
		<option value="Q224">Q2 2024</option>
		<option value="Q324">Q3 2024</option>
		<option value="Q424">Q4 2024</option>
	</select>
	<label>Choose OKR:</label>
	<select class="red-font" name="okrChoice">
		<option value="Choose" selected>Make a choice</option>
		<option value="objectiveOne">Objective One</option>
		<option value="objectiveTwo">Objective Two</option>
		<option value="objectiveThree">Objective Three</option>
	</select>
	<label>Log Date:</label>
	<input class="red-font" type="date" name="dueDate">
	<input class="button-link" type="submit" value="Add Note">
</form>

<%- include('../partials/footerDeep') %>