<%- include('../partials/headerDeep') %>

<div class="note-index">
<form id="new-note-form" action="/notes" method="POST">
	<label class="bold">New Note:</label>
	<input class="input-field-text" type="text" name="noteText" placeholder="Write your note here">
	<label class="bold" id="note-log-date">Log Date:</label>
	<input class="input-field-text" id="bottom-padding" type="date" name="logDate" min=<%= Date.now() %>>
	<input name="okrId" type="hidden" value=<%= okrId %>>
	<input class="button-link" type="submit" value="Add Note">
</form>
</div>
<%- include('../partials/footerDeep') %>