<%- include('../partials/header') %>

<% if (notes.length) { %>
	<% notes.forEach(function(n) { %>
		<div class="note-index">
			<div class="note-date note-text-size">
				<%= n.logDate.toLocaleDateString("en-US") %>
			</div>
			<div class="note-text">	
				<i class="note-text-size"><%= n.noteText %></i>
			</div>
		</div>
	<% }) %>
<% } else { %>
<h5>You haven't taken any notes yet.</h5>
<% } %>

<%- include('../partials/footer') %>