<%- include('../partials/header') %>

<% if (notes.length ) { %>
	<% notes.forEach(function(n) { %>
		<div>
			Date:<%= n.logDate %>
			Note: <%= n.noteText %>
		</div>
	<% }) %>
<% } else { %>
<h5>You haven't taken any notes yet.</h5>
<% } %>

<%- include('../partials/footer') %>